* {
    font-family: arial;
    font-size: 18px;
}

#botaoa {
    background-color: blue;
    border-radius: 5px;
    text-align: center;
    color: white;
}
#botaoa:hover {
    transform: scale(1.2);
    transition: transform 0.6s;
}

#botaof {
    background-color: red;
    border-radius: 5px;
    text-align: center;
    color: white;
}
#botaof:hover {
    transform: scale(1.2);
    transition: transform 0.6s;
}

#fechar {
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    width: 300px;
    height: 145px;
    text-align: center;
    border-color: rgb(215, 215, 215);
    padding: 10px;
}
